* {
    margin: 0;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 70px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 1;
    background-color: black;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: red;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu-list-item{
    margin-right: 33px;
}

.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
}

.profile-text-container{
    margin: 0 20px  ;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute; 
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.container{
        background-color: #202020;
        height: calc(290vh - 0px);
        color: white;
}

.content-container{
    margin-left: 5px;
}

.img-cover{
    width: 1342.5px;
    height: 620px;
}

.spongebob-edit {
    margin-left: 50px;
    margin-top: 50px;
    width: 170px;
    height: 290px;
    border-radius: 4%;
}

.spongebob-cover {
    margin-left: 260px;
    height: 330px;
    border-style: ridge;
    border-color: red;
}

.move-me {
    margin-left: 30px;
    font-size: 23px;
}

.video-id{
 margin-left: 400px;
 position: relative;
bottom: 380px;
z-index: 1500;
}

.spongebob-logo{
    margin-left: 110px;
    margin-top: 100px;
    width: 200px;
    height: 310  px;
    border-radius: 4%;
    z-index: 750px;
}

.menu-list-item{
color: white;
font-style: none;
z-index: 1000;
}

.ra{ 
    width: 700px;
    margin-left: 30px;
    border: 40px;
    border-color: red;

}

/* General Styles */
html{
    background:url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat;
    background-size: cover;
    height:100%;
    background-color: #000;
 }
 * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smooth :antialiased;
    text-rendering:optimizeLegibility;
 }
 body {
    color: #C0C0C0;
    font-family: Arial, san-serif;
 }
 
 
 /* Contact Form Styles */
 h1 {
    margin: 10px 0 0 0;
 }
 h4{
    margin: 0 0 20px 0;
 }
 #contact-form {
    background-color:rgba(72,72,72,0.9);
    padding: 10px 20px 30px 20px;
    max-width:100%;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -220px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
 }
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #fff;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;  
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #E5E6E7; 
 }  
 #contact-form textarea {
    width:100%;
    height: 150px;
 }
 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#ff0000;
    background-image:linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    background-image:-moz-linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    background-image:-webkit-linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:hover {
    background-image:linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    background-image:-moz-linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    background-image:-webkit-linear-gradient(bottom, #ff0000 0%, #ff0000 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 
 #contact-form .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }
 
 /* Hide success/failure message
    (especially since the php is missing) */
 #failure, #success {
    color: #6EA070; 
    display:none;  
 }
 
 /* Make form look nice on smaller screens */
 @media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }